## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/*
![Rr]elease/data/
![Rr]elease/tools/
![Rr]elease/tables/
![Rr]elease/books/
![Rr]elease/2008/
[Rr]elease/*.exe
[Rr]elease/*.dll
[Rr]elease/*.config
*.pdb

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## NuGet
packages/
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Rider
.idea/

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Temp files
*.tmp
*.log
custom_tools.txt
