<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Md.Plugin.SwPropWrite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Md.Plugin.SwPropWrite.Properties.Settings>
            <setting name="SplitNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SplitStr" serializeAs="String">
                <value>空格</value>
            </setting>
            <setting name="IsSelfCom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSaveSignal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsBelongToCode" serializeAs="String">
                <value>True</value>
            </setting>
        </Md.Plugin.SwPropWrite.Properties.Settings>
    </userSettings>
</configuration>