<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="helpLink" connectionString="https://www.baidu.com/"/>
  </connectionStrings>
  <appSettings>
    <clear />
    <add key="colors1" value="0,255,255" />
    <add key="colors2" value="255,128,0" />
    <add key="colors3" value="0,255,0" />
    <add key="colors4" value="0,128,255" />
    <add key="colors5" value="255,0,255" />
  </appSettings>
</configuration>