<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MPrint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <MPrint.Properties.Settings>
            <setting name="ExcelExtension" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer_chkAddLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrinterFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer_chkSubPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Printer_cmbPrintWidth" serializeAs="String">
                <value>A0</value>
            </setting>
            <setting name="Printer_chkAutoColor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Printer_cmbSpaceXY" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Printer_rdoInARow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Printer_cmbSpaceLT" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Printer_txtA0W" serializeAs="String">
                <value>890</value>
            </setting>
            <setting name="Printer_txtA1W" serializeAs="String">
                <value>630</value>
            </setting>
            <setting name="Printer_txtA2W" serializeAs="String">
                <value>430</value>
            </setting>
            <setting name="Printer_txtA3W" serializeAs="String">
                <value>297</value>
            </setting>
            <setting name="Printer_txtA4W" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="Printer_txtA0H" serializeAs="String">
                <value>1230</value>
            </setting>
            <setting name="Printer_txtA1H" serializeAs="String">
                <value>870</value>
            </setting>
            <setting name="Printer_txtA2H" serializeAs="String">
                <value>610</value>
            </setting>
            <setting name="Printer_txtA3H" serializeAs="String">
                <value>430</value>
            </setting>
            <setting name="Printer_txtA4H" serializeAs="String">
                <value>297</value>
            </setting>
            <setting name="vorh" serializeAs="String">
                <value>False</value>
            </setting>
        </MPrint.Properties.Settings>
    </userSettings>
</configuration>
