<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PrinterSetting1" value="其他*A4**" />
    <add key="PrinterSetting2" value="A4*A4**" />
    <add key="PrinterSetting3" value="A3*A3**" />
    <add key="PrinterSetting4" value="A2*A2**" />
    <add key="PrinterSetting5" value="A1*A1**" />
    <add key="PrinterSetting6" value="A0*A0**" />
    <add key="chkOther" value="True" />
    <add key="chkA4" value="True" />
    <add key="chkA3" value="True" />
    <add key="chkA2" value="True" />
    <add key="chkA1" value="True" />
    <add key="chkA0" value="True" />
    <add key="chkHighQuality" value="True" />
    <add key="chkPreview" value="False" />
    <add key="rdoColor" value="自动" />
    <add key="rdoDrw" value="全部图纸" />
    <add key="chkHeaderAndFooter" value="False" />
    <add key="chkPrinterSetting" value="False" />
    <add key="cboHeaderLeft" value="" />
    <add key="cboHeaderMiddle" value="" />
    <add key="cboHeaderRight" value="" />
    <add key="cboFooterLeft" value="" />
    <add key="cboFooterMiddle" value="" />
    <add key="cboFooterRight" value="" />
    <add key="textFont" value="宋体;7.5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>