<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <name>生成零件号</name>
  <classname>二维工具</classname>
  <classid>2090_2219_2222</classid>
  <version>1.1.0</version>
  <softkey>0302</softkey>
  <username>迈迪设计宝</username>
  <userid>83193</userid>
  <startexe>pgrun.exe</startexe>
  <isMd>False</isMd>
  <explain><![CDATA[生成零件号能在装配体二维图中，指定序号生成模式，可自动按顺序添加零部件序号，排序灵活，满足了国内企业一般的标注习惯，方便快捷]]></explain>
</plugin>