<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <name>批量转换</name>
  <classname>二维工具</classname>
  <classid>2090_2219_2222</classid>
  <version>1.2.0</version>
  <softkey>0307</softkey>
  <username>迈迪设计宝</username>
  <userid>83193</userid>
  <startexe>pgrun.exe</startexe>
  <isMd>False</isMd>
  <explain><![CDATA[工程师工作中必然会涉及到大量的技术图纸,有些时候需要对工程图纸的标题栏进行修改。为了避免大量重复的工作浪费工程师宝贵的时间，我们可以用“批量替换图纸模板”功能对工程图标题栏进行批量化修改。具体操作如下]]></explain>
</plugin>