<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BatchConvertPDFv2.MySetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BatchConvertPDFv2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BatchConvertPDFv2.MySetting>
            <setting name="ImageType" serializeAs="String">
                <value>RGB全色</value>
            </setting>
            <setting name="JpegComp" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="IsScreenCapture" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsPrintCapture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DPI" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PaperSize" serializeAs="String">
                <value>自适应</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PNumber" serializeAs="String">
                <value>0</value>
            </setting>
        </BatchConvertPDFv2.MySetting>
        <BatchConvertPDFv2.Properties.Settings>
            <setting name="Setting_chkLineColor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting_chkHideType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting_chkCover" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting_chkOutput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting_chkCoverageColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting_chkSubFolder" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting_chkSlddrw" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting_chkSldprt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting_chkSldasm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting_chkPDF" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting_chk3DPDF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting_chkPNG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting_chkDWG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting_chkSTL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting_chkJPG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting_chkDXF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting_chkIGS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting_chkSTEP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting_chkDIY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting_chkPDFCombine" serializeAs="String">
                <value>False</value>
            </setting>
        </BatchConvertPDFv2.Properties.Settings>
    </userSettings>
</configuration>
