<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <name>文件改名</name>
  <classname>常用工具</classname>
  <classid>2090_2219_2223</classid>
  <version>1.1.0</version>
  <softkey>0401</softkey>
  <username>迈迪设计宝</username>
  <userid>83193</userid>
  <startexe>pgrun.exe</startexe>
  <isMd>False</isMd>
  <explain><![CDATA[快速置换文件名的工具，可以快速将需要替换的零部件名称，全部替换掉，并且不影响装配关系，所有链接可以保持不变，也不需要去再搜索零部件目录。]]></explain>
</plugin>