<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BaleSWDoc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BaleSWDoc.Properties.Settings>
            <setting name="BaleType_E" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PropertyType_E" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="IsPropertyBale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PropName" serializeAs="String">
                <value>类别</value>
            </setting>
            <setting name="PropValue" serializeAs="String">
                <value />
            </setting>
            <setting name="IsIncludePic" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsIgnoreCompression" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsIgnoreHidden" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsToolBoxAloneSave" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ToolBoxPath" serializeAs="String">
                <value>ToolBox</value>
            </setting>
            <setting name="ExcelExtension" serializeAs="String">
                <value />
            </setting>
            <setting name="IsMarkProp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsSubmitData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsModifyData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AsmLeave" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarkPropName" serializeAs="String">
                <value />
            </setting>
            <setting name="Picfocus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsPicfocus" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DrawPath" serializeAs="String">
                <value>图纸文件</value>
            </setting>
        </BaleSWDoc.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
