<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WormGearAndWormDesign.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <WormGearAndWormDesign.Properties.Settings>
            <setting name="ExcelExtension" serializeAs="String">
                <value/>
            </setting>
            <setting name="RepName_txtNewStr" serializeAs="String">
                <value/>
            </setting>
            <setting name="RepName_txtOldStr" serializeAs="String">
                <value/>
            </setting>
            <setting name="RepName_txtFolderPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="RepName_bIncProperty" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="StrReplace_cfg" serializeAs="String">
                <value/>
            </setting>
        </WormGearAndWormDesign.Properties.Settings>
    </userSettings>
</configuration>
