<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FramePropName" value="图幅代号" />
    <add key="DrawingNumName" value="图号" />
    <add key="StartNum" value="Md-{000}" />
    <add key="Transfer0" value="" />
    <add key="Transfer1" value="" />
    <add key="Transfer2" value="" />
    <add key="Transfer3" value="" />
    <add key="Transfer4" value="" />
    <add key="Transfer5" value="" />
    <add key="Transfer6" value="" />
    <add key="Transfer7" value="" />
    <add key="Remove0" value="" />
    <add key="Remove1" value="" />
    <add key="Remove2" value="" />
    <add key="Remove3" value="" />
    <add key="Remove4" value="" />
    <add key="Remove5" value="" />
    <add key="Remove6" value="" />
    <add key="Remove7" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>