<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <name>电控柜</name>
  <classname>设计工具</classname>
  <classid>2090_2219_2221</classid>
  <version>1.1.0</version>
  <softkey>0207</softkey>
  <username>迈迪设计宝</username>
  <userid>83193</userid>
  <startexe>pgrun.exe</startexe>
  <isMd>False</isMd>
  <explain><![CDATA[电控柜设计工具是专门为从事机柜结构设计及制造的工程技术人员开发的一款功能性插件。其内容主要包括简易电控柜和模架式机柜设计两部分。（”简单柜体设计”可以根据设计者输入的参数设计简单的柜体。”模架式机柜设]]></explain>
</plugin>