<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <name>拼图打印</name>
  <classname>二维工具</classname>
  <classid>2090_2219_2222</classid>
  <version>1.1.1</version>
  <softkey>0306</softkey>
  <username>迈迪设计宝</username>
  <userid>83193</userid>
  <startexe>pgrun.exe</startexe>
  <isMd>False</isMd>
  <explain><![CDATA[企业出图纸之前首先要对需要打印的图纸进行排版、拼图，最后才是打印。为避免图纸下发到各部门以后经常出现错误。设计宝软件特别增加了拼图打印功能。方便设计人员设计完图纸后快速排版并打印。]]></explain>
</plugin>